 <div class="uk-offcanvas" id="tm-offcanvas">
      <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{ multiple: true }">
          <li class="uk-parent">
            <a href="#">
              <i class="uk-icon-th-large"></i> Menu</a>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{ multiple: true }">
              <li>
                <a href="#"> Home</a>
              </li>
              <li>
                <a href="#"> About</a>
              </li>
              <li class="uk-parent uk-nav-parent-icon">
                <a href="#"> Applications</a>
                <ul class="uk-parent" id="dropdown">
                  <li> Silent Salesman</li>
                  
                </ul>
              </li>
            <li>
                <a href="#"> Contact</a>
              </li>  
            </ul>
          </li>
        </ul>
       </div>
    </div>